body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  font-weight: 400;
}

.App {
  padding: 3rem;
}

legend {
  font-weight: 400;
}

i.glyphicon {
  display: none;
}

.btn-add::after {
  content: 'Add';
}

.array-item-move-up::after {
  content: 'Move Up';
}

.array-item-move-down::after {
  content: 'Move Down';
}

.array-item-remove::after {
  content: 'Remove';
}
